body {
    margin: 0;
    font-family: Segoe UI, Arial, sans-serif;
    background: linear-gradient(135deg, #020617, #020617);
    color: #e5e7eb;
}


.navbar {
    background: #020617;
    border-bottom: 1px solid #1e293b;
    padding: 20px;
    text-align: center;
}

.navbar h1 {
    margin: 0;
    color: #60a5fa;
    font-size: 32px;
}

.navbar p {
    color: #94a3b8;
    font-size: 14px;
}


.container {
    max-width: 650px;
    margin: 40px auto;
    background: #020617;
    border: 1px solid #1e293b;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 0 25px rgba(59,130,246,0.15);
}


h2 {
    text-align: center;
    color: #93c5fd;
}


label {
    margin-top: 12px;
    display: block;
    color: #cbd5f5;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #020617;
    border: 1px solid #334155;
    color: white;
    border-radius: 8px;
}


button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #2563eb;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}


.result {
    margin-top: 25px;
    padding: 20px;
    background: rgba(59,130,246,0.12);
    border-radius: 12px;
}


.footer {
    text-align: center;
    margin-top: 40px;
    color: #64748b;
    font-size: 13px;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #020617;
    border: 1px solid #334155;
    color: white;
    border-radius: 8px;
    resize: vertical;
    min-height: 80px;
}